<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/Advanced_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Advanced SQL**

In [ ]:
# Question 1: What is a Common Table Expression (CTE), and how does it improve SQL query readability?

Answer: A Common Table Expression (CTE) is a temporary named result set that you define at the beginning of a query using the WITH clause. It exists only during the execution of that query.

CTE Improves Readability:
- Breaks Complex Queries into Parts
- Avoids Repeating Subqueries
- Improves Structure & Clarity
- Supports Recursive Queries

In [ ]:
# Question 2: Why are some views updatable while others are read-only? Explain with an example.

Answer: Views are updatable only when the database can clearly map each row in the view back to one specific row in one base table.

If that mapping is unclear (because of joins, grouping, aggregates, etc.), the view becomes read-only.

A view is updatable when:

- It is based on one table
- No GROUP BY
- No DISTINCT
- No aggregate functions (SUM, AVG, etc.)
- No UNION
- No complex expressions preventing row identification
- Contains primary key

In [ ]:
# Question 3: What advantages do stored procedures offer compared to writing raw SQL queries repeatedly?

Answer:Stored procedures offer several advantages over writing raw SQL queries repeatedly:

- Stored procedures are precompiled and stored in the database. So it reduces parsing and compilation time.
- Avoid rewriting the same SQL logic in multiple places.
- Can grant permission to execute the procedure without giving direct table access.
- Instead of sending multiple SQL statements from Database, we can send one procedure call.
- If logic changes, update it in one place.

In [ ]:
# Question 4: What is the purpose of triggers in a database? Mention one use case where a trigger is essential.

Answer: A trigger is a database object that automatically executes when a specific event occurs on a table, such as:

- INSERT
- UPDATE
- DELETE

Main Purposes of Triggers:
- Maintain data integrity
- Automatically enforce business rules
- Audit and track changes
- Prevent invalid operations
- Synchronize related tables

In [ ]:
# Question 5: Explain the need for data modelling and normalization when designing a database.

Answer: When designing a database, data modelling and normalization ensure the system is structured, efficient, and reliable.

Data modelling is the process of defining Tables (entities), Columns (attributes), Relationships between tables, Primary & Foreign keys. It acts as a blueprint before creating the database.

Need of Data Modelling:
- Defines clear structure of data
- Identifies relationships between entities
- Avoids confusion during development
- Ensures scalability
- Improves communication between developers and stakeholders

Normalization is the process of organizing data to Reduce redundancy and Improve data integrity.

Need of Normalization:

- Removes duplicate data
- Prevents update anomalies
- Prevents insert anomalies
- Prevents delete anomalies
- Improves consistency

In [ ]:
# Question 6: Write a CTE to calculate the total revenue for each product
# (Revenues = Price Ã— Quantity), and return only products where revenue > 3000

with Total_Revenue as (
Select
p.Price,
p.productID,
s.Quantity,
(p.Price * s.Quantity) as Revenue
from products p
Join sales s
on p.productID = s.productID)
Select
p.productname,
TR.Revenue
from products p
Join Total_Revenue TR
on p.productID = TR.productID
Where TR.Revenue > 3000;

In [ ]:
# Question 7: Create a view named that shows:
# Category, TotalProducts, AveragePrice

Create view vw_CategorySummary as
Select
Category,
Count(productname) as TotalProducts,
Avg(Price) as AveragePrice
from products
group by Category;

In [ ]:
# Question 8: Create an updatable view containing ProductID, ProductName, and Price.
# Then update the price of ProductID = 1 using the view.

Create view CategorySummary as
Select
ProductID,
ProductName,
Price
from products;

update CategorySummary
SET price = 1300
Where ProductID = 1 ;

In [ ]:
# Question 9: Create a stored procedure that accepts a category name and returns all products belonging to that category.

Delimiter //

Create procedure Category_Summary (IN Cat Varchar(15))
Begin
Select * from products
Where Category = Cat;
end //

Delimiter ;

In [ ]:
# Question 10: Create an AFTER DELETE trigger on the Products table that archives deleted product rows into a new table ProductArchive. The archive should store ProductID, ProductName, Category, Price, and DeletedAttimestamp.


CREATE TABLE ProductArchive (
ProductID INT,
ProductName VARCHAR(100),
Category VARCHAR(50),
Price DECIMAL(10,2),
DeletedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP);

DELIMITER //

CREATE TRIGGER trg_Product_After_Delete
AFTER DELETE
ON Products
FOR EACH ROW
BEGIN
INSERT INTO ProductArchive (
ProductID,
ProductName,
Category,
Price,
DeletedAt)
VALUES (
OLD.ProductID,
OLD.ProductName,
OLD.Category,
OLD.Price,
NOW());
END //

DELIMITER ;