<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/Aggregation_in_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aggregation in SQL**

In [ ]:
# Question 1: Count how many cities are there in each country?

SELECT
city.Name as Country_Name,
COUNT(city.ID) AS Number_of_Cities
FROM City
LEFT JOIN Country c
ON City.CountryCode = c.Code
GROUP BY city.Name;

In [ ]:
# Question 2: Display all continents having more than 30 countries.

SELECT
Continent,
COUNT(code) AS Number_of_Countries
FROM Country
GROUP BY Continent
having COUNT(code) > 30;

In [ ]:
# Question 3: List regions whose total population exceeds 200 million.

Select
Region,
ROUND(SUM(Population)/1000000, 2) as Population_in_Region_in_Million
From Country
Group by Region
Having ROUND(SUM(Population)/1000000, 2) > 200;

In [ ]:
# Question 4: Find the top 5 continents by average GNP per country.

Select
continent,
Round(avg(GNP),2) as Avg_GNP
from Country
Group by continent
Order by Avg_GNP Desc
Limit 5;

In [ ]:
# Question 5: Find the total number of official languages spoken in each continent.

Select
c.continent,
Count(Language) as No_of_Official_Languages
from Country c
Left Join countrylanguage cl
on c.code = cl.countrycode
WHERE cl.IsOfficial = 'T'
Group by c.continent;

In [ ]:
# Question 6: Find the maximum and minimum GNP for each continent.

Select
Continent,
max(GNP) as Max_GNP,
Min(GNP) as Min_GNP
from Country
Group by Continent;

In [ ]:
# Question 7: Find the country with the highest average city population.

Select
c.Country_name,
Round(Avg(ci.Population),2) as Avg_City_Population
from Country c
Join city ci
on ci.countrycode = c.code
Group by c.Country_name
ORDER BY Avg_City_Population DESC
Limit 1;

In [ ]:
# Question 8: List continents where the average city population is greater than 200,000.

Select
c.Continent,
Round(Avg(ci.Population),2) as Avg_City_Population
from Country c
Join city ci
on ci.countrycode = c.code
Group by c.Continent
Having Avg(ci.Population) > 200000
ORDER BY Avg_City_Population DESC;

In [ ]:
# Question 9: Find the total population and average life expectancy for each continent, ordered by average life expectancy descending.

Select
Continent,
sum(Population) as Total_Population,
Avg(LifeExpectancy) as Avg_LifeExpectancy
From Country
Group by Continent
Order by Avg_LifeExpectancy Desc;

In [ ]:
# Question 10: Find the top 3 continents with the highest average life expectancy, but only include those where the total population is over 200 million.

Select
c.continent,
avg(c.lifeExpectancy) as Avg_LifeExpectancy
from Country c
Group by c.continent
Having sum(c.population) > 200000000
order by Avg_LifeExpectancy Desc
Limit 3;