<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/Filtering_and_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Filtering and Sorting**

In [ ]:
# Createing Table in SQL as per the table given

Create Table Employees
(EmpID INT PRIMARY KEY,
EmpName Varchar(50),
Department Varchar(50),
City Varchar(50),
Salary Int,
HireDate Date);

INSERT INTO Employees
(EmpID, EmpName, Department, City, Salary, HireDate)
values
(101, 'Rahul Mehta', 'Sales', 'Delhi', 55000, '2020-04-12'),
(102, 'Priya Sharma', 'HR', 'Mumbai', 62000, '2019-09-25'),
(103, 'Aman Singh', 'IT', 'Bengaluru', 72000, '2021-03-10'),
(104, 'Neha Patel', 'Sales', 'Delhi', 48000, '2022-01-14'),
(105, 'Karan Joshi', 'Marketing', 'Pune', 45000, '2018-07-22'),
(106, 'Divya Nair', 'IT', 'Chennai', 81000, '2019-12-11'),
(107, 'Raj Kumar', 'HR', 'Delhi', 60000, '2020-05-28'),
(108, 'Simran Kaur', 'Finance', 'Mumbai', 58000, '2021-08-03'),
(109, 'Arjun Reddy', 'IT', 'Hyderabad', 70000, '2022-02-18'),
(110, 'Anjali Das', 'Sales', 'Kolkata', 51000, '2023-01-15');

In [ ]:
# Question 1: Show employees working in either the ‘IT’ or ‘HR’ departments.

Select EmpName From Employees
Where Department = "IT" or Department = "HR";

In [ ]:
# Question 2: Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance'.

Select EmpName From Employees
Where Department IN ('Sales', 'IT', 'Finance');

In [ ]:
# Question 3: Display employees whose salary is between ₹50,000 and ₹70,000.

Select EmpName From Employees
Where Salary BETWEEN 50000 and 70000;

In [1]:
# Question 4: List employees whose names start with the letter ‘A’.

Select EmpName From Employees
Where EmpName Like "A%";

In [ ]:
# Question 5: Find employees whose names contain the substring ‘an’.

Select EmpName From Employees
Where EmpName Like "%an%";

In [ ]:
# Question 6: Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.

Select EmpName From Employees
Where City IN ("Delhi", "Mumbai") and Salary > 50000;

In [ ]:
# QUestion 7: Display all employees except those from the ‘HR’ department.

Select EmpName From Employees
Where Department <> "HR";

In [ ]:
# Question 8: Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first).

Select EmpName From Employees
Where HireDate Between "2019-01-01" and "2022-12-31"
Order by HireDate DESC;