<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/SQL_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL Functions**

In [ ]:
# Qiestion 1:  Create a ranking of students based on score (highest first).

Select
Student_id,
Name,
Score,
dense_rank() over(Order by score Desc) as Ranking
from Student_Performance;

In [ ]:
# Question 2 : Show each student's score and the previous student’s score (based on score order).

Select
Student_id,
Name,
Score,
Lag (Score) over (order by score Desc) as Previous_Student_Score
from Student_Performance
order by Score Desc;

In [ ]:
# Question 3 : Convert all student names to uppercase and extract the month name from join_date.

Select
Student_id,
Upper(Name) as Student_Name,
join_date,
monthname(Join_date) as Joining_month
from Student_Performance;

In [ ]:
# Question 4 : Show each student's name and the next student’s attendance (ordered by attendance).

Select
Name,
LEAD(Attendance) over (order by attendance) as Next_Student_Attendance
from Student_Performance
order by Attendance;

In [ ]:
# Question 5 : Assign students into 4 performance groups using NTILE().

Select
Ntile (4) over (order by score Desc) as Groups_as_per_Scores,
Student_id, Name, course, score, attendance, mentor, join_date, city
From Student_Performance
order by Score Desc;

In [ ]:
# Question 6 : For each course, assign a row number based on attendance (highest first)

Select
row_number() over(partition by course order by attendance Desc) as Row_num,
Student_id, Name, course, score, attendance, mentor, join_date, city
from Student_Performance
order by course, attendance Desc;

In [ ]:
# Question 7 : Calculate the number of days each student has been enrolled (from join_date to today).
# (Assume current date = '2025-01-01')

Select
Name,
Join_Date,
Datediff('2025-01-01', Join_date) as No_of_Days_Enrolled
from Student_Performance;

In [ ]:
# Question 8 : Format join_date as “Month Year” (e.g., “June 2023")

Select
Student_id,
Name,
date_format(Join_Date, '%M %Y')
from Student_Performance;

In [ ]:
# Question 9 : Replace the city ‘Mumbai’ with ‘MUM’ for display purposes.

Select
Student_id,
Name,
Case
 when City = "Mumbai" then "MUM"
 Else city
END as City
from Student_Performance;

In [ ]:
# Question 10 : For each course, find the highest score using FIRST_VALUE().

Select
Student_id,
Name,
Course,
Score,
first_value(Score) over(partition by Course order by Score Desc) as Highest_Score
from Student_Performance
order by Course, Score Desc;