<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/SQL_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL Joins

In [ ]:
# Creating Table as per the table given

Create Table Customers
(CustomerID Int primary key,
CustomerName Varchar(50),
City Varchar(50));

INSERT into Customers
(CustomerID, CustomerName, City)
Values
(1, "John Smith", "New York"),
(2, "Mary Johnson", "Chicago"),
(3, "Peter Adams", "Los Angeles"),
(4, "Nancy Miller", "Houston"),
(5, "Robert White", "Miami");

Create Table Orders
(OrderID INT PRIMARY KEY,
CustomerID INT NOT NULL,
OrderDate DATE NOT NULL,
Amount DECIMAL(10,2) NOT NULL);

INSERT into Orders
(OrderID, CustomerID, OrderDate, Amount)
Values
(101, 1, "2024-10-01", 250),
(102, 2, "2024-10-05", 300),
(103, 1, "2024-10-07", 150),
(104, 3, "2024-10-10", 450),
(105, 6, "2024-10-12", 400);

Create Table Payments
(PaymentID Varchar(10) primary key,
CustomerID Int NOT NULL,
PaymentDate Date NOT NULL,
Amount DECIMAL(10,2) NOT NULL);

INSERT into Payments
(PaymentID, CustomerID, PaymentDate, Amount)
Values
("P001", 1, "2024-10-02", 250),
("P002", 2, "2024-10-06", 300),
("P003", 3, "2024-10-11", 450),
("P004", 4, "2024-10-15", 200);

Create Table Employees
(EmployeeID Int Unique,
EmployeeName Varchar(50),
ManagerID INT);

INSERT into Employees
(EmployeeID, EmployeeName, ManagerID)
Values
(1, "Alex Green", NULL),
(2, "Brian Lee", 1),
(3, "Carol Ray", 1),
(4, "David Kim", 2),
(5, "Eva Smith", 2);

In [ ]:
# Question 1: Retrieve all customers who have placed at least one order.

Select distinct customerName from Customers
INNER JOIN Orders
on Customers.CustomerID = Orders.CustomerID;

In [ ]:
# Question 2: Retrieve all customers and their orders, including customers who have not placed any orders.

Select
c.CustomerID,
c.CustomerName,
c.city,
o.OrderID,
o.OrderDate,
o.Amount
from Customers c
LEFT JOIN Orders o
on c.CustomerID = o.CustomerID;

In [ ]:
# Question 3: Retrieve all orders and their corresponding customers, including orders placed by unknown customers.

SELECT
o.OrderID,
o.OrderDate,
o.Amount,
c.CustomerID,
c.CustomerName,
c.City
FROM Orders o
LEFT JOIN Customers c
ON o.CustomerID = c.CustomerID;

In [ ]:
# Question 4: Display all customers and orders, whether matched or not.

Select
c.CustomerID,
c.CustomerName,
c.city,
o.OrderID,
o.OrderDate,
o.Amount
from Customers c
LEFT JOIN Orders o
on c.CustomerID = o.CustomerID

UNION


Select
c.CustomerID,
c.CustomerName,
c.city,
o.OrderID,
o.OrderDate,
o.Amount
from Customers c
RIGHT JOIN Orders o
on c.CustomerID = o.CustomerID;

In [ ]:
# Questio 5: Find customers who have not placed any orders.

SELECT c.CustomerName from Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL;

In [ ]:
# Question 6: Retrieve customers who made payments but did not place any order.

SELECT c.CustomerName
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
INNER JOIN Payments p
ON c.CustomerID = p.CustomerID
WHERE o.OrderID IS NULL;

In [ ]:
# Question 7: Generate a list of all possible combinations between Customers and Orders.

SELECT
c.CustomerID,
c.CustomerName,
c.City,
o.OrderID,
o.OrderDate,
o.Amount
FROM Customers c
CROSS JOIN Orders o;

In [ ]:
# Question 8: Show all customers along with order and payment amounts in one table.

SELECT
c.CustomerID,
c.CustomerName,
o.OrderID,
o.Amount AS OrderAmount,
p.Amount AS PaymentAmount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
LEFT JOIN Payments p
ON c.CustomerID = p.CustomerID;

In [ ]:
# Question 9: Retrieve all customers who have both placed orders and made payments.

SELECT
c.CustomerID,
c.CustomerName,
o.OrderID,
o.Amount AS OrderAmount,
p.Amount AS PaymentAmount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
LEFT JOIN Payments p
ON c.CustomerID = p.CustomerID
Where p.Amount and o.Amount IS NOT NULL;