<a href="https://colab.research.google.com/github/parvgarg199615/SQL-Basics/blob/main/SubQueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SubQueries**

Basic Level

In [ ]:
# Question 1: Retrieve the names of employees who earn more than the average salary of all employees.

Select Name from Employee
where Salary > (select
Avg(Salary) as Avg_Salary from Employee);

In [ ]:
# Question 2: Find the employees who belong to the department with the highest average salary.

Select Name from Employee
Where Department_id = (Select
Department_id
from employee
Group by department_id
Order by Avg(Salary) DESC
Limit 1);

In [ ]:
# Question 3: List all employees who have made at least one sale.

Select Name
from Employee
Where Emp_id IN (Select Emp_id
from Sales);

In [ ]:
# Question 4: Find the employee with the highest sale amount.

Select Name
from employee
Where Emp_id = (Select
Emp_id
from sales
Group by Emp_id
Order by Sum(Sale_amount) Desc
Limit 1);

In [ ]:
# Question 5: Retrieve the names of employees whose salaries are higher than Shubham’s salary.

Select name
from employee
Where Salary > ( Select
Salary
from employee
Where emp_id = 102);

Intermediate Level

In [ ]:
# Question 1: Find employees who work in the same department as Abhishek.

Select name
from employee
where Department_id = (Select
Department_id
from Employee
Where Name = 'Abhishek');

In [ ]:
# Question 2: List departments that have at least one employee earning more than ₹60,000.

Select
distinct Department_name
from Department d
Join employee e
on d.department_id = e.department_id
Where d.department_id IN (Select
distinct Department_id
from employee
where salary > 60000);

In [ ]:
# Question 3: Find the department name of the employee who made the highest sale.

Select Department_name
from department
where Department_id = (Select
e.Department_id
from employee e
Join Sales s
on s.Emp_id = e.Emp_id
Order by Sale_amount Desc
Limit 1);

In [ ]:
# Question 4: Retrieve employees who have made sales greater than the average sale amount.

Select Name
from employee
where emp_id IN (Select
emp_id
from sales
where Sale_amount > (Select Avg(sale_amount)from sales));

In [ ]:
# Question 5: Find the total sales made by employees who earn more than the average salary.

Select
Sum(sale_amount) as Total_Sales
from Sales
Where emp_id IN (Select emp_id
from employee
where Salary > (Select Avg(Salary) from employee));

Advanced Level

In [ ]:
# Question 1: Find employees who have not made any sales.

Select Name
from employee
Where emp_id Not IN (Select Emp_id from Sales);

In [ ]:
# Question 2: List departments where the average salary is above ₹55,000.

Select Department_name
from Department
where Department_id IN (Select
Department_id
from employee
group by department_id
Having Avg(salary) > 55000);

In [ ]:
# Question 3: Retrieve department names where the total sales exceed ₹10,000.

Select department_name
from department
Where department_id IN (Select
e.department_id
from employee e
Join Sales s
on e.emp_id = s.emp_id
Group by e.department_id
Having Sum(s.Sale_amount) > 10000);

In [ ]:
# Question 4: Find the employee who has made the second-highest sale.

Select Name
from employee
Where Emp_id = (Select
Emp_id
from sales
Group by Emp_id
Order by Sum(Sale_amount) Desc
Limit 1
offset 1);

In [ ]:
# Question 5: Retrieve the names of employees whose salary is greater than the highest sale amount recorded.

Select Name
from Employee e
where Salary > (Select
Max(s.Sale_amount) as Highest_Sales
from Sales s);